* {
    padding: 0;
    font-family: "Roboto", sans-serif;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

a{
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    height: 500px;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2% 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header-nav__logo h1{
    font-size: 24px;
}

.header-nav__list ul{
    display: flex;
}

.header-nav__list ul li{
    margin-right: 10px;
}

.header-hero{
    display: flex;
    width: 100%;
}

.header-hero__desc{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-hero__desc h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 25px;
}

.header-hero__desc p{
    margin-bottom: 25px;
}

.header-hero__desc button{
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 15px;
}

.header-hero__image{
    background-color: #e5e7eb;
    height: 250px;
    width: 50%;
}